<h1>Test: Are you an introvert or an extrovert?</h1>
<p>
  So do you consider yourself more of an introvert or an extrovert? Take this test, put together with input from
  psychoanalyst Sandrine Dury, and find out
</p>
<p>
  At work, is it you who gets noticed first or perhaps the other people around you? Do you feel compelled to take
  centre-stage or are you more comfortable back-stage? If it’s the former, then you are eager for contact — warm and
  happy human relations. If it’s the latter, then solitude suits and stimulates you more and hell is often other people…
</p>

<a class="btn btn-primary" routerLink="/survey">Take the test!</a>
